<div class="container">
  <div class="row align-item-center">
    <div class="col-2"><img src="../../../assets/images/Logo.png" class="img-1"></div>
    <div class="col-lg-8 col-lg-5 ">
      <br>
      <h1 class="classCentr"> Registration</h1>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="sendUserProfile()">
    <div class="row">
      <div class="col-sm-11 col-lg-4">
        <h4 class="classCentr">Personal<p> information</h4>

        <div class="total-group">
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="First Name" id="inputFirstName" formControlName="firstName" required>
          </mat-form-field>
        </div>

        <!--<div class="total-group">
          <label for="inputFullName">Full name</label>
          <input type="text" class="form-control" id="inputFullName" placeholder="Full name"></div>-->

        <div class="total-group">
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Last Name" id="inputLastName" formControlName="lastName" required>
          </mat-form-field>
        </div>

        <!--<div class="total-group">
          <label for="inputSecondName">Second name</label>
          <input type="text" class="form-control" id="inputSecondName" placeholder="Second name"></div>-->

        <div class="total-group">
          <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Phone Number" id="inputPhoneNumber" formControlName="phoneNumber" value="" required>
          </mat-form-field>
        </div>
        <!--<div class="total-group">
          <label for="inputPelefonNumber">Phone Number</label>
          <input type="text" class="form-control" id="inputPelefonNumber" placeholder="Phone Number"></div>-->


        <div class="total-group">
          <mat-form-field>
            <mat-select placeholder="Confession" formControlName="confession" required>
              <mat-option *ngFor="let conf of staticFields.confession" [value]="conf" ngDefaultControl>
                {{ conf }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--<div class="total-group">
          <label for="inputConfession">Confession</label>
          <select id="inputConfession" class="form-control">

            <option>Non</option>
            <option>Judaism</option>
            <option>Christianity</option>
            <option>Islam</option>
            <option>Budist</option>
          </select>
        </div>-->

        <div class="total-group">
          <mat-form-field class="example-full-width">
            <input matInput type="date" placeholder="Date Of Birth" id="inputDateOfBirth" formControlName="dateOfBirth" required>
          </mat-form-field>
        </div>

        <!--<div class="total-group">
          <label for="inputDate">Data of Birth</label>
          <input type="date" class="form-control" id="inputDate" placeholder="Data of Birth">
        </div>-->

      </div>


      <div class="col-sm-11 col-lg-4">

        <h4 class="classCentr">About<p> myself</h4>

        <div class="total-group">
          <mat-form-field>
            <mat-select placeholder="Marital Status" formControlName="maritalStatus" required>
              <mat-option *ngFor="let mstatus of staticFields.maritalStatus" [value]="mstatus" ngDefaultControl>
                {{ mstatus }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <!--<div class="total-group"><label for="inputMaritalStatus">Marital status</label>
          <select id="inputMaritalStatus" class="form-control">
            <option>Married</option>
            <option>unmarried</option>
            <option>divorced</option>
            <option>widow</option>
          </select></div>-->

        <div class="total-group">
          <mat-form-field>
            <mat-select placeholder="Food Preferences" formControlName="foodPreferences" multiple required>
              <mat-option *ngFor="let food of staticFields.foodPreferences" [value]="food"  ngDefaultControl>
                {{ food }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--<div class="total-group">
          <label for="inputFoodPrefences">Food Preferences</label>
          <select id="inputFoodPrefences" class="form-control">
            <option>Any</option>
            <option>Vegetarian</option>
            <option></option>
          </select></div>-->


        <div class="total-group">
          <mat-form-field>
            <mat-select placeholder="Gender" formControlName="gender" required>
              <mat-option *ngFor="let gender of staticFields.gender" [value]="gender" ngDefaultControl>
                {{ gender }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="total-group">
          <mat-form-field>
            <mat-select placeholder="Languages" formControlName="languages" multiple required>
              <mat-option *ngFor="let language of staticFields.languages" [value]="language"  ngDefaultControl>
                {{ language }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <div class="col-sm-11 col-lg-4">
        <div class="classCentr">

          <button><img src="../../../assets/images/avatar-male.png" class="img"></button>
        </div>

        <!--<input math-input type="file" placeholder="change picture">-->
        <h3 class="classCentr">Change picture</h3>


        <div class="row">
          <div class=container>
            <label for="description">
              <div class="text" id="text">
                <p class="descriptionText"> Few words about yourself , hobbies
                  and how do you spend your free time</p>


              </div>
            </label>

            <mat-form-field>
              <textarea matInput class=container rows="4" id="description" placeholder="Write about yourself" formControlName="description" required></textarea>
            </mat-form-field>

            <!--<textarea class=container rows="4" id="inputhobbies" placeholder="Type Hobbies"></textarea>-->
          </div>
        </div>
      </div>
    </div>
    <div class="positionbtn">
      <div *ngIf="[hasError]" class="error col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">{{error}}</div>
      <button mat-button type="submit" class="btn_save" [disabled]="registerForm.invalid">Save</button>
    </div>
  </form>
</div>
