<mat-toolbar class="mat-primary">
  <mat-toolbar-row>
    <a mat-button routerLink="./"><mat-icon>home</mat-icon><span class="mat-button-wrapper">Home</span> </a>
    <span class="fill-space"></span>
    <a mat-button [routerLink]="['/']"><mat-icon>fingerprint</mat-icon><span class="mat-button-wrapper">Login</span></a>
    <a mat-button [routerLink]="['/fill-profile']"><mat-icon>account_circle</mat-icon><span class="mat-button-wrapper">Create Account</span></a>
  </mat-toolbar-row>
</mat-toolbar>
