<div class="contLogo">
  <img src="../../../assets/images/Logo.png" alt="logo">
</div>

<div class = "form">
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="userData">
    <div mat-dialog-content>
      <span class=""><mat-icon>email</mat-icon></span>
      <mat-form-field class="full-width">
        <input matInput type="email" placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="form.get('email').invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-icon>lock</mat-icon>
      <mat-form-field class="full-width" hintLabel="Min 6 characters">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error *ngIf="form.get('password').invalid">{{getErrorMessagePass()}}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="reg">
    <span>Still don't have account?</span>
    <span (click)="navigate('/registration')" class="link">Registration</span>
  </div>

  <div class="d-flex flex-row justify-content-center error">
    <span>{{err}}</span>
  </div>

  <div class="d-flex flex-row justify-content-center">
  <div mat-dialog-actions>
    <button type="submit" mat-button [disabled]="form.invalid">Log in</button>
  </div>
  </div>
</form>
</div>
