.contLogo{
  background-color: #7a43b6;
  height: 20%;
}
.buttons{
  position: absolute;
  padding-bottom: 10%;
}
.full-width{
  width: 80%;
  margin-bottom: 5%;
}
button{
  background-color: #7a43b6;
  color: white;
  font-weight: bold;
}
.userData{
  padding-top: 15%;
  height: 60%;
}
.reg{
  text-align: center;
}
.error{
  color: red;
  height: 15%;
}
.form{
  height: 80%;
}
form{
  height: 100%;
}
.link{
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

