.event-list-card {
  max-width: 250px;
  margin: auto;
  margin-bottom: 16px;
}

.gorisontal-center {
  text-align: center;
}

.left-card-span {
  float: left;
}

.right-card-span {
  float: right;
}

.img-stars {
  max-width: 100%;
  height: auto;
  margin-bottom: 8px;
}
