.bc-color {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background-color: #5F4F8D;
}

.event-list-card {
  max-width: 400px;
  //margin: auto;
  margin-bottom: 16px;
}

.gorisontal-center {
  text-align: center;
}
.gorisontal-right {
  text-align: right;
}

.img-stars {
  max-width: 100%;
  height: auto;
  margin-bottom: 8px;
}
.img-banner {
  max-height: 250px;
}

