.picture{
  border-radius: 50%;
}
body {
  background: #5F4F8D;
}

.alignGorisontal {
  text-align: center;
}

.alignVertical {
  align-items: center;
}
.adaptive-picture{
  max-width: 100%;
  height: auto;
}

/*#closeButton {
    all: initial;
    height: 48px;
    width: 48px;
}*/
