<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Change avatar</title>
</head>
<body>
<br>
<div class="container">
  <div class="row alignVertical">
    <div class="col-10 order-1 col-xl-1 order-xl-1">
      <img src="../../../assets/images/Logo.png" class="img-responsive">
    </div>

    <div class="col-12 order-3 col-xl-10 order-xl-2">
      <h1 class="text-center">Tap on picture for change</h1>
    </div>

  </div>
</div>
<br>
<div class="container">
  <div class="row alignVertical">
    <div class="col-12 col-lg-6">
      <br>
      <div class="alignGorisontal">
        <button class="picture">
          <img src="../../../assets/images/noAvatarBoy.png" class="img-responsive">
        </button>
      </div>
      <div class="alignGorisontal">
        <h3>Avatar</h3>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <br>
      <div class="alignGorisontal">
        <button>
          <img class="img-responsive adaptive-picture" src="../../../assets/images/banner.png">
        </button>
      </div>
      <div class="alignGorisontal">
        <h3>Event banner</h3>
      </div>
    </div>
  </div>
</div>


</body>
</html>
