html, body {
    height: 100%;
}

body {
    background-size: 100%;
    background: #5F4F8D;
    /*background: linear-gradient(#5F4F8D, #FFEED9) no-repeat; !* Standard syntax (must be last) *!*/
}
.alignGorisontal {
    text-align: center;
}
.alignVertical {
    align-items: center;
}
#closeButton {
    all: initial;
    height: 48px;
    width: 48px;
    background-image: url("ic_cancel_white_24dp_2x.png");
}