<!--<div class="closeRow close col-xl-12 d-flex flex-row justify-content-end">
  <div class="closeBox row">
    <img class="closeImg" src="../../../assets/icons/ic_cancel_white_18dp_1x.png" alt="close">
    <div class="closeText">Close</div>
  </div>
</div>-->
<!--<div class="container card col-xl-6 col-lg-10 col-md-10">-->
<div class="infoBox">
  <div class="pictureBox vote">
    <img src={{picture}} alt="picture" class="eventPicture">
  </div>
  <div class="paddings title">
    <h1 class="title col-12">{{title}}</h1>
    <div class="typeOfEvent col-12">{{holiday}}</div>
    <div class="rateBox row col-xl-12 ">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-4 col-4"></div>
      <div class="rate d-flex flex-row justify-content-center col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
        <bar-rating [rate]="rate" [max]="5" [theme]="'stars'" [readOnly]="'true'"></bar-rating>
      </div>
      <div class="buffer col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
  </div>
    <div class="dataText paddingsZero marginsZero row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="paddingsZero col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">{{date}}</div>
      <div class="paddingsZero col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">{{place}}</div>
      <div class="paddingsZero col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">{{time}}</div>
    </div>
  <div class="descriptionBox">
    <p class="description">
      {{description}}
    </p>
  </div>
  <div class="buttonBox d-flex flex-row justify-content-center">
    <button mat-raised-button color="primary" class="btnJoin" (click)="joinToEvent()">Join to Event</button>
  </div>
</div>
<!--</div>-->
