<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<div class="container-fluid">
  <div class="row alignVertical justify-content-center" id="pictureTable">
    <div class="col-sm-10" id="innerPicture">

      <div class="row logo alignVertical justify-content-center">
        <img src="../../../assets/images/Logo.png" class="img-responsive">
      </div>

      <div class="row alignVertical">
        <h1 class="mat-display-3">Shabbat in the family circle</h1>
      </div>

      <p class="mat-title">We're looking for family where you can spend your hugs or
        meet shabbat.</p>
      <p class="mat-title">Just sign in and start finding a new shabbat family</p>
      <p class="mat-title">More than 100 families waiting for you!</p>

      <div class="row justify-content-center">
        <button mat-stroked-button [routerLink]="'/eventlist'">Go to Event list
        </button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
